/* vars import */

$accent: #ffba08;
$green: #1ec58d;
$text: #000000;
$footer-title: #0d0900;
$secondary-title: #222222;
$sekondary-text: #575757;
$header-background: #fcfcfc;
$features-background: rgba(217, 217, 217, 0.2);
