/* vars import */

$accent: #ffba08;
$green: #1ec58d;
$blue: #684ff4;
$text: #000000;
$footer-title: #0d0900;
$secondary-title: #222222;
$secondary-text: #575757;
$header-background: #fcfcfc;
$features-background: rgba(217, 217, 217, 0.2);

$login-accent: #704232;
$login_link: #42063f;
