/** fonts import */

@font-face {
  font-family: Agnostic Mirossa;
  font-display: swap;
  src: url("../fonts/Agnostic Mirossa.woff2") format("woff2"),
    url("../fonts/Agnostic Mirossa.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
