/** general import */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter";
  background: #ffffff;
  box-sizing: border-box;
}

.container {
  max-width: 1544px;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  padding: 10px 27px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  color: $text;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn_accent {
  background: $accent;
}
.btn_black {
  background: #0c0800;
  color: white;
}
.btn_gplay {
  background: url("@img/google_play_btn.png") 0 0 no-repeat;
}

.btn_appstore {
  background: url("@img/app_store_btn.png") 0 0 no-repeat;
}

.icon-btn {
  position: relative;
  border-radius: 50%;
  border: none;
  transition: all 0.3s;
  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }
  @media (min-width: 700px) {
    &:hover {
      opacity: 0.6;
    }
  }
}

.text_accent {
  color: $accent;
}
ul {
  list-style: none;
}
.link {
  text-decoration: none;
  color: $text;
  transition: all 0.3s;
  @media (min-width: 700px) {
    &:hover {
      opacity: 0.5;
    }
  }
}
